<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.esgi.studyingfurther"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission
		android:name="com.esgi.studyingfurther.permission.C2D_MESSAGE"
		android:protectionLevel="signature"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission
		android:name="com.esgi.studyingfurther.permission.C2D_MESSAGE"/>
	<uses-permission
		android:name="com.google.android.c2dm.permission.RECEIVE"/>
	<uses-permission
		android:name="android.permission.INTERNET"/>
	<uses-permission
		android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission
		android:name="android.permission.WAKE_LOCK"/>
	<uses-permission
		android:name="android.permission.CHANGE_NETWORK_STATE">
	</uses-permission>
	<uses-permission
		android:name="android.permission.CHANGE_WIFI_STATE">
	</uses-permission>


	<uses-permission
		android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_application_couleur"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:logo="@drawable/icon_application_couleur">
        <activity
          
            android:name="com.esgi.studyingfurther.NewsFeed"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.esgi.studyingfurther.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.esgi.studyingfurther.Identification"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.esgi.studyingfurther.AffichageItem"
            android:label="AffichageItem" >
        </activity>
        <activity
            android:name="com.esgi.studyingfurther.Inscription"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.esgi.studyingfurther.Parameter"
            android:label="@string/title_activity_parameter" >
        </activity>
        <activity
            android:name="com.esgi.studyingfurther.ResultActivity"
            android:parentActivityName="com.esgi.studyingfurther.MainActivity" >
        </activity>
        <activity
            android:name="com.esgi.studyingfurther.GererClass"
            android:label="@string/title_activity_gerer_class" >
        </activity>
        <activity
            android:name="com.esgi.studyingfurther.ItemNewsFeed"
            android:label="@string/title_activity_item_news_feed" >
        </activity>
        <activity
            android:name="com.esgi.studyingfurther.Comments"
            android:label="@string/title_activity_comments" >
        </activity>
        <activity
            android:name="com.esgi.studyingfurther.Commentaires"
            android:label="@string/title_activity_commentaires" >
        </activity>
        <activity
            android:name="com.esgi.studyingfurther.Items_Comments"
            android:label="@string/title_activity_items__comments" >
        </activity>
        <receiver
			android:name="com.google.android.gcm.GCMBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action
					android:name="com.google.android.c2dm.intent.RECEIVE"/>
				<action
					android:name="com.google.android.c2dm.intent.REGISTRATION"/>
				<category
					android:name="com.esgi.studyingfurther"/>
			</intent-filter>
		</receiver>
		<service
			android:name=".GCMIntentService"/>
    </application>

</manifest>